html{
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Inter';
}
*{
    margin: 0;
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: gray;
}
::before{
    max-width: 100vw;
    font-family: 'Inter';
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vw;
    position: sticky;
    top: 0;
    width: 100vw;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(40px);
    z-index: 100;
    font-size: large;
}
.logo{
    height: 40px;
}
.link-btn{
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    &:hover{
        background-color: rgba(255, 255, 255, .4);
    }
}
.login{
    height: fit-content;
    background: #000;
    color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
    &:hover{
        opacity: .8;
    }
}
.annoucement{
    display: flex;
    align-items: center;
    height: 40px;
    background: #000;
    color: #fff;
    text-wrap: nowrap;
    width: 100vw;
    overflow: hidden;
}
.subAnnouce{
    min-width: fit-content;
    margin-left: 2vw;
    animation: announce 80s infinite;
}
.info{
    position: relative;
    margin-top: 7.5vw;
    overflow: hidden;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading, .heading3, .heading5, .heading7, .heading10, .heading12, .title2, .heading15, .heading17{
    position: relative;
    z-index: 1;
    font-family: 'Behind The Nineties';
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
    padding: 0 30vw;
}
.heading::before, .heading5::before{
    content: 'grow learn build share grow learn build share grow learn build share grow learn build share grow learn build share grow learn build share grow learn build share grow learn build share grow learn build share ';
    animation: before-animation 320s infinite;
    color: orange;
}
.heading::before, .heading3::before, .heading5::before, .heading7::before, .heading10::before, .heading12::before, .container10::before, .title2::before, .heading15::before, .heading17::before{
    text-transform: uppercase;
    top: -60px;
    left: 0;
    z-index: -1;
    font-size: 10rem;
    text-wrap: nowrap;
    opacity: .15;
    position: absolute;
}
.heading::before{
    top: -18px;
}
.heading{
    text-wrap: nowrap;
}
.span1{
    color: #f97316;
}
.para, .para11{
    position: relative;
    z-index: 1;
    margin-top: 2vw;
    text-align: center;
    color: gray;
}
.subInfos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 2vw 0 5vw 0;
}
.span2{
    text-transform: uppercase;
    font-size: small;
}
.icons{
    margin: 0 5px;
    height: 20px;
}
.certificate{
    background: url('../image/img1.jpg');
}
.study-abroad{
    background: url('../image/img2.jpg');
}
.btech-cse{
    background: url('../image/img3.png');
}
.ui-program{
    background: url('../image/img4.jpg');
}
.certificate, .study-abroad{
    background-size: cover;
    height: 35vw;
    width: 25vw;
    padding: 30px;
}
.ui-program, .btech-cse{
    background-size: cover;
    height: 15vw;
    width: 25vw;
    padding: 30px;
}
.heading2{
    color: #fff;
    z-index: 1;
    font-family: 'Behind The Nineties';
    font-weight: 600;
    margin-bottom: 20px;
}
.btn{
    background: #000;
    color: #fff;
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 20px;
    &:hover{
        background-color: #fff;
        color: #000;
    }
}
.container{
    display: flex;
    justify-content: space-evenly;
    width: 94vw;
    margin: 0 auto;
}
.twice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content, .subContent{
    border-radius: 30px;
}
.study-abroad > .heading2, .study-abroad .btn, .ui-program > .heading2, .ui-program .btn{
    text-align: right;
    float: right;
    margin-left: 5vw;
}
.container2{
    padding: 3vw 0;
    background: #000;
    color: #fff;
    margin-top: 5vw;
}
.para2{
    margin-top: 5vw;
    margin-bottom: 3vw;
    color: #f97316;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
}
.para3{
    margin: 2vw 0;
    text-align: center;
}
.heading3::before{
    color: #fff;
    content: 'Industry Leading Certification Industry Leading Certification Industry Leading Certification';
    animation: before-animation2 320s infinite;
}
.content2{
    display: flex;
    width: 98vw;
    margin: 0 auto;
    overflow: scroll;
}
.content2::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.subContent2{
    background-color: #fff;
    color: #000;
    min-width: 15vw;
    margin-left: 1vw;
    border-radius: 10px;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subContent2:last-child{
    margin-right: 1vw;
}
.courseImg{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.heading4{
    text-align: center;
}
.span3, .para4, .para5{
    text-align: left;
    min-width: 100%;
}
.span3, .para4, .para5, .btn2{
    text-transform: capitalize;
}
.span3{
    margin: 2vw 0 5px 0;
}
.para5{
    margin-bottom: 1vw;
}
.btn2{
    width: 95%;
    background: #000;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    margin: 3vw 0 20px 0;
}
.btn2:nth-child(2){
    margin-top: 1vw;
}
.para6{
    color: #fff;
    margin-top: 3vw;
    text-align: center;
}
.para6:hover{
    text-decoration: underline;
}
.heading5, .heading7{
    padding: 0;
}
.content3{
    display: flex;
    margin: 2vw 0;
    overflow-x: hidden;
}
.content3Img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-left: 3vw;
}
.first-slot .content3Img{
    animation: before-animation3 50s infinite;
}
.second-slot .content3Img{
    animation: before-animation4 50s infinite;
    transform: translateX(-1510px);
}
.container4{
    height: 20vw;
    display: flex;
    margin: 7vw auto 3vw;
    background: #ffedd5;
}
.container4, .container5{
    width: 80vw;
    border-radius: 25px;
}
.content4{
    width: 40vw;
}
.content4:nth-child(2){
    padding: 5vw 0;
}
.certificateImg{
    height: 100%;
    width: 100%;
    transform: scaleX(.8);
    filter: grayscale(100%);
}
.para7{
    margin: 1vw 0;
    color: #2c2b2b;
}
.btn3{
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}
.container5{
    margin: 7vw auto;
    padding: 1vw 0;
    background: url('../image/bg_count.gif');
    background-size: cover;
    background-position: center;
    color: #fff;
}
.para8, .para9, .counter{
    text-align: center;
    text-transform: capitalize;
    margin: 3vw 0;
}
.para8, .para9{
    font-size: x-large;
}
.counter{
    font-size: 4rem;
    font-family: 'Behind The Nineties';
    font-weight: 600;
    font-style: italic;
}
.para10{
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    margin: 2vw 0;
    text-align: center;
    color: maroon;
}
.para11{
    padding: 0 15vw;
}
.heading7{
    color: #1e3a8a;
}
.heading7::before{
    content: 'study abroad study abroad study abroad study abroad';
    animation: before-animation5 200s infinite;
}
.content6One{
    display: flex;
    justify-content: center;
    margin: 3vw 0;
}
.countryImages{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin: 0 5px;
    transition: all .5s;
}
.countries:hover .countryImages{
    transform: scale(1.3);
}
.countries:hover, .countryImages:hover, .countryName:hover{
    cursor: pointer;
}
.subContries{
    position: relative;
    left: 7vw;
    top: 7vw;
    z-index: 1;
    height: 3vw;
    width: 3vw;
}
.countryName{
    color: #fff;
    background: #000;
    width: 80%;
    position: relative;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
    top: 13vw;
    margin-left: 1.75vw;
}
.containImg{
    border-radius: 20px;
    overflow: hidden;
    height: 14.1vw;
    width: 14vw;
    margin: 0 1vw;
}
.subContent6one{
    height: 37vw;
    width: 27vw;
    overflow: hidden;
}
.content6two{
    display: flex;
    height: auto;
    width: fit-content;
    margin: 0 auto;
}
.abroadImg{
    height: 100%;
    width: 100%;
}
.colContent6{
    height: 18vw;
    width: 27vw;
}
.subContent6one, .abroadImg{
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
}
.subContent6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2vw;
}
.container7{
    padding: 5vw;
    margin: 3vw 0;
}
.content7{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vw;
}
.heading8{
    color: #1e3a8a;
    font-family: 'Behind The Nineties';
    font-style: italic;
    font-weight: 600;
}
.para12{
    color: gray;
}
.heading8, .para12{
    text-align: center;
}
.smallImg{
    height: 80px;
}
.container8, .container3, .container6, .container10{
    overflow-x: hidden;
}
.container6::-webkit-scrollbar{
    width: 0;
}
.smallContent7{
    margin: 5vw 1vw 1vw 1vw;
    display: inline-block;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    padding: 12px;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
}
.subContent7{
    border-radius: 20px;
    width: 26vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.containImg2{
    display: flex;
    justify-content: center;
}
.collegeImg{
    height: 200px;
    width: 100%;
    border-radius: 20px;
}
.spacing{
    margin-left: 40px;
}
.para13{
    font-size: small;
    color: #be123c;
    font-weight: bold;
    margin: 10px 0;
}
.info2{
    padding: 0 25px;
    background: linear-gradient(#fff, #fff, rgba(255, 192, 203, .5));
    border-radius: 20px;
}
.heading9{
    margin: 10px 0;
    font-family: 'Behind The Nineties';
    font-weight: 600;
}
ul{
    padding: 0 30px;
}
.list{
    line-height: 25px;
    padding: 0;
}
.btn4{
    background: #000;
    color: #fff;
    width: 90%;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 30px;
}
.para14{
    color: #16BA83;
}
.heading10, .para14, .para15{
    margin: 2vw 0;
}
.heading10, .heading12{
    font-family: 'Behind The Nineties';
    font-style: italic;
    font-weight: 600;
}
.heading10::before{
    content: 'REFER & EARN REWARDS REFER & EARN REWARDS REFER & EARN REWARDS REFER & EARN REWARDS';
    color: #16BA83;
    animation: before-animation6 150s infinite;
}
.info3, .para17, .para18, .heading12{
    text-align: center;
}
.products{
    display: flex;
    margin: 0 auto;
}
.productsImg{
    width: 10vw;
    margin: 3vw 1vw;
    background: rgba(22, 186, 131, .2);
    border-radius: 50%;
    overflow: visible;
    border: 1px solid #16BA83;
}
.content8{
    display: flex;
    justify-content: center;
}
.ontherContent8{
    background: #ECFDF5;
    width: 90vw;
    margin: 3vw auto;
}
.referStepImg{
    width: 29vw;
    filter: grayscale(100%);
}
.subContent8{
    display: flex;
    justify-content: space-between;
}
.info4{
    margin: 0 20vw 0 10vw;
}
.info5{
    margin: 0 10vw 0 20vw;
    text-align: right;
}
.info4, .info5{
    margin-top: 5vw;
}
.heading11{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2vw;
}
.process{
    font-weight: normal;
    font-size: x-large;
    margin-bottom: 1vw;
}
.para16{
    font-size: 16px;
}
.btn5{
    margin-top: 2vw;
    padding: 12px 50px;
    background: #000;
    border: none;
    color: white;
    border-radius: 36px;
    font-weight: bold;
}
.para17{
    font-weight: bold;
    margin: 2vw 0;
}
.container9{
    padding: 5vw 0;
    background: #FCFAF7;
    overflow-x: hidden;
}
.para18{
    margin: 2vw 0;
}
.heading12::before{
    content: 'BOARD OF ADVISORS BOARD OF ADVISORS BOARD OF ADVISORS BOARD OF ADVISORS ';
    animation: before-animation7 200s infinite ease;
}
.para19, .para20{
    text-align: center;
    margin: 1vw 0;
    padding: 0 2vw;
}
.content9{
    display: flex;
    animation: peoples 110s infinite linear;
}
.content9:hover{
    animation-play-state: paused;
}
.subContent9{
    margin: 0 25px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.subContent9, .profileImg,.companyImg{
    width: 15vw;
    margin-right: 2vw;
}
.profileImg{
    width: 15vw;
    height: 17vw;
    margin: 2vw 0 -3px 1vw;
}
.para19{
    font-weight: bold;
}
.para20{
    font-size: small;
}
.imgContainer{
    background: #e4e3e2;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    width: 17vw;
}
.container10{
    position: relative;
}
.gif{
    height: 8vw;
}
.container10::before{
    content: 'school of future tech school of future tech school of future tech school of future tech school of future tech';
    top: 5vw;
    font-weight: bold;
    animation: before-animation8 250s ease infinite;
}
.info6{
    text-align: center;
    overflow-x: hidden;
}
.para21{
    font-weight: bold;
    margin: 5vw 0 2vw 0;
}
.para22{
    margin: 2vw 0 5vw 0;
}
.content10{
    width: 90vw;
    margin: 0 auto; 
    display: flex;
    overflow: scroll;
}
.content10::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.subContent10{
    background: #000;
    color: white;
    width: 25vw;
    margin-right: 1vw;
    height: 25vw;
    position: relative;
    overflow-y: hidden;
    border-radius: 30px;
}
.para23{
    color: rgb(223, 86, 131);
}
.para23, .para24, .heading13{
    margin-top: 1vw;
    text-align: right;
    margin-right: 1vw;
}
.heading13{
    font-family: 'Behind The Nineties';
    font-weight: 600;
    font-size: 24px;
}
.sc1::before, .sc2::before, .sc3::before, .sc4::before{
    position: absolute;
    bottom: -20px;
    left: -3.1vw;
    transform: scaleX(.77) scaleY(.85);
}
.sc1::before{
    content: url('../image/join/img1.png');
}
.sc2::before{
    content: url('../image/join/img2.png');
}
.sc3::before{
    content: url('../image/join/img3.png');
}
.sc4::before{
    content: url('../image/join/img4.png');
}
.sc1 p:last-child{
    color: gold;
}
.sc2 p:last-child{
    color: rgb(0 141 214 / 79%);
}
.sc3 p:last-child{
    color: rgb(171, 169, 169);
}
.sc4 p:last-child{
    color: rgb(97, 190, 3);
}
.container11{
    margin: 5vw 0;
}
.titleh1, .titlepara{
    text-align: center;
}
.titlepara{
    margin: 2vw 0;
}
.longimg{
    width: 300vw;
    animation: longImg 50s infinite ease;
    margin: 2vw 0 0 0;
}
.container12{
    width: 90vw;
    background: #FCFAF7;
    margin: 0 auto;
    border: 1px solid #f97316;
    border-radius: 30px;
    height: 54vw;
    overflow: hidden;
}
.subContent12{
    display: flex;
    margin-top: 2vw;
}
.containing12{
    display: flex;
    padding-left: 3vw;
}
.studentsImg{
    height: 40vw;
}
.info7{
    margin: 5vw 0;
    text-align: center;
}
.achievment{
    height: 5vw;
}
.title2, .heading14{
    font-family: 'Behind The Nineties';
    font-weight: 600;
}
.heading14{
    margin: 2vw 0;
    font-size: 28px;
}
.span4{
    color: #f97316;
    font-weight: bold;
    font-size: 22px;
}
.title2{
    margin: 1.5vw 0 1vw 0;
    color: #f97316;
    font-style: italic;
}
.para25{
    margin-top: 2vw;
}
.para26{
    margin-bottom: 2vw;
}
.span5{
    font-weight: bold;
    color: #4d5056;
}
.btn6{
    background: #000;
    border: none;
    color: white;
    padding: 12px 36px;
    border-radius: 9999px;
    margin-top: 5vw;
    &:hover{
        opacity: .8;
    }
}
.title2{
    text-wrap: nowrap;
    margin-left: -6vw;
}
.title2::before{
    color: #f97316;
    top: -4vw;
    left: 5vw;
    animation: before-animation9 250s ease infinite;
    content: 'student Ambassador student Ambassador student Ambassador student Ambassador student Ambassador ';
}
.review{
    display: flex;
}
.reviewImg{
    height: 2vw;
}
.container13{
    margin: 8vw 0;
    background: #FCFAF7;
}
.span6, .heading15, .para27{
    text-align: center;
    display: block;
}
.span6{
    color: #f97316;
    font-weight: bold;
}
.para27{
    margin-top: 3vw;
}
.heading15{
    margin: 1vw 0;
    font-family: 'Behind The Nineties';
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
    font-size: 3em;
    text-wrap: nowrap;
    top: 1vw;
}
.heading15::before{
    top: -4vw;
    color: #f97316;
    content: 'we are loved by our students we are loved by our students we are loved by our students';
    animation: before-animation10 220s ease infinite;
}
.reviewContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27vw;
    margin: 5vw auto 0 auto;
}
.review{
    border-radius: 8px;
    border: 1px solid #f97316;
    padding: 18px;
}
.info9{
    margin-left: 10px;
}
.para28{
    font-size: small;
    font-weight: bold;
}
.para29{
    margin-top: 3px;
    font-size: 14px;
    font-weight: bold;
}
.reviewInfos{
    margin-top: 1vw;
    display: flex;
    align-items: center;
}
.peopleReview{
    width: 17vw;
    padding: 2vw 1vw;
    margin: 2vw 0;
    border: 1px solid gray;
    border-radius: 20px;
}
.content13{
    display: flex;
    height: 50vw;
    width: 100vw;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 5vw;
}
.reviewPerson{
    margin-right: 5px;
    height: 2vw;
}
.peopleReview{
    background: white;
}
.orangeBox{
    background: #F57115;
    color: white;
    border: 2px solid yellow;
}
.btn7{
    border: none;
    margin-top: 2vw;
    width: 95%;
    margin-left: .5vw;
    padding: 1vw 0;
    font-weight: bold;
    border-radius: 40px;
}
.reviewOdd{
    animation: odd 100s linear infinite;
}
.reviewEven{
    animation: even 100s linear infinite;
    transform: translateY(-100vw);
}
.reviewOdd:hover, .reviewEven:hover{
    animation-play-state: paused;
}
.paper-cut{
    margin-top: -6vw;
    height: 35vw;
    width: 100%;
    background: #FCFAF7;
}
.container14{
    position: relative;
}
.content14{
    width: 100vw;
    justify-content: space-evenly;
    display: flex;
    position: absolute;
    top: 5vw;
    left: 0;
}
.containing14{
    display: flex;
}
.newsPaperImg{
    width: 25vw;
}
.heading16{
    margin-bottom: 2vw;
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Behind The Nineties';
    font-weight: 600;
}
.container15{
    width: 90vw;
    border: 1px solid burlywood;
    margin: 5vw auto;
    text-align: center;
    overflow: hidden;
    border-radius: 30px;
}
.heading17{
    margin: 2vw 0;
    text-wrap: nowrap;
    margin-left: -8vw;
    color: rgb(219, 166, 96);
}
.para32{
    margin: 2vw 0 0 0;
    color: burlywood;
    font-weight: bold;
}
.para33{
    margin-bottom: 2vw;
}
.para15, .para18, .para27, .para31, .para28, .para17, .heading12::before, .container10::before, .para22, .titlepara, .para25, .para26, .para33, .para35{
    color: #6b7280;
}
.heading17::before{
    left: 8vw;
    content: 'multiple community membership multiple community membership multiple community membership';
    animation: before-animation11 200s ease infinite;    
}
.content15{
    display: flex;
    flex-direction: column;
    margin: 7vw 0;
    padding-left: 5vw;
}
.subContent15{
    display: flex;
    margin: 1vw 0;
}
.communityBox{
    border-radius: 20px;
    height: 4vw;
    width: 4vw;
    padding: 1vw;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .25), 1px 1px 10px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.containingBox{
    margin-right: 1.3vw;
}
.membersImg{
    height: 5vw;
}
.member5{
    height: 2vw;
    width: 5vw;
}
.last-membership{
    margin-left: 3.5vw;
}
.para34{
    font-size: small;
    margin-top: 10px;
}
.micro34{
    font-size: x-small;
}
.socialIcon{
    margin-right: 10px;
    height: 2.5vw;
}
.containing16{
    width: 75vw;
    display: flex;
    margin: 2vw auto;
}
.content16{
    padding: 1vw;
    display: flex;
    width: 25vw;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    margin: 0 .65vw;
    border-radius: 10px;
}
.para35{
    font-size: small;
}
.followers{
    font-weight: bold;
    margin-top: 5px;
}
.heading18{
    text-align: center;
}
footer{
    margin: 6vw 0 2vw 0;
}
.footerLogo{
    width: 10vw;
}
.foots{
    width: 15vw;
}
.footerHeading{
    text-transform: uppercase;
    margin-bottom: 1vw;
}
.footerLink{
    color: #000;
}
.footerLink, .footerHeading, .footerPara2{
    font-size: 14px;
}
.footerContent{
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footerPara{
    margin-bottom: 1vw;
}
.footerLink{
    line-height: 25px;
}
.footerPara2{
    line-height: 20px;
}
.footerPara2:not(:nth-child(4)){
    margin-bottom: 1vw;
}
.footerIcons{
    display: flex;
}
.copyPara{
    margin-top: 5vw;
}
.copyPara2{
    font-size: 13px;
    margin: 1vw 14vw 0 14vw;
    color: #6b7280;
}
.copyPara, .copyPara2{
    text-align: center;
}
.heading, .counter{
    font-weight: 700;
}
.iconFooter{
    height: 20px;
    margin-right: 1vw;
}